<!DOCTYPE html>
<html>

<head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>

<body style="background-image: url('img/Background-website-01.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">

{{>notAuthNavbar}}
<div class="container mt-5">
    <div class="col-md-8 ml-5">
        <div class="row ml-5">
                <div class="card" style="width: 100%;">
                <div class="card-header">
                    Öğretmen
                </div>
                <div class="card-body">
                    <h5 class="card-title">Öğretmen hesabı oluştur..</h5>
                    <p class="card-text">Ödevler verip sınıfları yönetebileceğiniz bir öğretmen hesabı..</p>
                    <a href="signup-teacher" class="btn btn-warning"><b>Git</b></a>
                </div>
                </div>
        </div>
        <div class="row mt-5 ml-5">
              <div class="card" style="width: 100%;">
                <div class="card-header">
                    Öğrenci
                </div>
                <div class="card-body">
                    <h5 class="card-title">Öğrenci hesabı oluştur..</h5>
                    <p class="card-text">Ödevler yükleyeceğin bir öğrenci hesabı..</p>
                    <a href="signup-student" class="btn btn-warning"><b>Git</b></a>
                </div>
               </div>
        </div>
    </div>
</div>


</body>
</html>