<style>
#curs:hover{
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">        
      <li class="nav-item active">
         <form id="myform" method="post" action="/logout">
          <a class="nav-link" id="curs" onclick="document.getElementById('myform').submit(); return false;"  href="/"><b>Çıkış yap</b><span class="sr-only">(current)</span></a>
        </form>
      </li>
      
    </ul>
  </div>
</nav>